# dependencies
node_modules

# production
build
dist
  
# misc
package.json.bak
.DS_Store

# config file
.env
*git-filter-repo
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log* 

backend/teamoffice.json
teamoffice-28b46.json
backend/teamoffice.json
