/* .error-container {
    text-align: center;
}



.error-container h1 {
    font-size: 12rem;
    color: #a34cf6;
    position: relative;
}

.error-container h1::before {
    content: "4";
    color: #a34cf6;
    position: absolute;
    left: -220px;
}

.error-container h1::after {
    content: "4";
    color: #a34cf6;
    position: absolute;
    right: -220px;
}

.circle {
    display: inline-block;
    background-color: white;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    margin-top: -6rem;
}

.circle h2 {
    font-size: 1.5rem;
    color: #333;
}

.error-container p {
    margin: 20px 0;
    font-size: 1rem;
}

.btn {
    background-color: #a34cf6;
    color: white;
    padding: 12px 24px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1rem;
    box-shadow: 0 5px 10px rgba(163, 76, 246, 0.3);
    transition: all 0.3s ease;
    display: inline-block;
}

.btn:hover {
    background-color: #9b43e0;
    box-shadow: 0 7px 15px rgba(163, 76, 246, 0.4);
} */



/************************* container ***************/