.choose_card {
    /* border: 1px solid red; */
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.choose_left img {
    border-radius: 10px;
}

.choose_card button {
    padding: 4px 20px;
    border: none;
    background: #4D0186;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}