.navbar-brand img {
  width: 140px;
}

#nav.bg-light {
  --bs-bg-opacity: 1;
  background-color: #ffffff !important;
}

#nav.fixed-top {
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.4);
}

button.searchHideIcon {
  background: none;
}

/* Search Item Handle */

.SearchItem {
  position: relative;
}

.showSearch {
  position: absolute;

  top: 79px;
  z-index: 99;
  width: 300px;
  position: fixed;
  left: 55%;
}

.showSearch::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 13px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 14px solid #f61e1e;
}

.showSearch input {
  width: 100%;
  border: none;
  padding: 13px 5px !important;
  outline: none;
  border-radius: 5px;
  border: 1px solid red;
  background-color: white;
  /* border: 1px solid #4d0186;  */
}

.showSearch input[type="text"] {
  padding: 5px 10px; /* Adjust the padding value as needed */
  font-size: 16px;
}

.showSearch .showsearchIcon {
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  background-color: #4d0186;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
}

/* Search Icon  */
.searchHideIcon {
  border: none;
  margin-right: 10px;
  padding: 2px;
}

.searchHideIcon i {
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
  margin: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 1px;
  margin: 0 18px;
}

.btn1 {
  background-color: #4d0186;
  border-radius: 5px;
  color: white;
}
.btn2 {
  background-color: #f61e1e;
  border-radius: 5px;
  color: white;
}

.btn-group button {
  padding: 9px 22px;
  border: none;
}

/***************************** DrowpDown ************** */

.dropdown-menu.show {
  margin-top: 2px !important;
  padding: 20px 10px;
}

.dropdown-toggle::after {
  /* font-family: boxicons; */
  content: "";
}

.dropdown-menu a {
  font-size: 16px;
  color: black;
}

/* serach Form */
.searchfrom {
  display: none !important;
}

/* Media Query */

@media (max-width: 575px) {
  /* Styles for phones */
  .carousel-control-prev,
  .carousel-control-next {
    bottom: 60px !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* Styles for phones in landscape */
  .carousel-control-prev,
  .carousel-control-next {
    bottom: 100px !important;
  }
}

/* @media(max-width:768px){			

  .carousel-control-prev, .carousel-control-next {

    bottom: 100px !important; }
} */

@media (max-width: 992px) {
  /* / [lg] - 992px & UP^ / */
  .searchfrom {
    display: block !important;
  }

  .searchfrom {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .SearchItem {
    display: none;
  }

  .btnMobile {
    padding: 10px 20px;
    background-color: #4d0186;
    border-radius: 10px;
    color: white;
    align-items: center;
    border: none;
  }
  .searchfrom input {
    height: auto;
  }
}
