.desktop-1 .line-1 {
  background: #ffffff;
  position: absolute;
  right: 0px;
  bottom: 70px;
  width: 1440px;
  height: 0px;
}
.desktop-1 .frame-28 {
  margin-left: 35px;
  display: flex;
  flex-direction: row;
  column-gap: 33px;
  width: 283px;
  box-sizing: border-box;
}
.desktop-1 .team-office-logo-12 {
  background: url("../images/team_office_logo_13.png") 50% / cover no-repeat,
    url("../images/team_office_logo_13.png") 50% / cover no-repeat;
  margin: 4px 19px 0 0;
  width: 157px;
  height: 45px;
}
.desktop-1 .team-office-logo-13 {
  background: url("../images/team_office_logo_13.png") 50% / cover no-repeat,
    url("../images/team_office_logo_13.png") 50% / cover no-repeat;
  width: 157px;
  height: 45px;
}
.desktop-1 .group-28 {
  background: rgba(255, 253, 253, 0.95);
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-self: flex-start;
  padding: 20px 0 19px 0;
  width: 215px;
  height: 84px;
  box-sizing: border-box;
}
.desktop-1
  .etime-office-softech-pvt-ltd-is-ahigh-tech-company-mainly-focusing-on-biometric-recognition-technology-attendance-management-software-cloud-based-attendance-solutions-access-control-equipments-power-supply-designing-and-manufacturing-poe-power-on-ethernet-switches-hotel-locks-biometric-villa-locks {
  margin-bottom: 24px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.desktop-1 .mask-group {
  width: 25px;
  height: 25px;
}
.desktop-1 .mask-group-1 {
  width: 25px;
  height: 25px;
}
.desktop-1 .instagram-logo-1 {
  background: url("../images/instagram_logo_1.png") 50% / cover no-repeat;
  width: 20px;
  height: 20px;
}
.desktop-1 .facebook-11 {
  background: url("../images/facebook_11.png") 50% / cover no-repeat;
  width: 20px;
  height: 20px;
}
.desktop-1 .google-1 {
  background: url("../images/google_1.png") 50% / cover no-repeat;
  width: 20px;
  height: 20px;
}
.desktop-1 .twitter-1 {
  background: url("../images/twitter_1.png") 50% / cover no-repeat;
  width: 20px;
  height: 20px;
}
.desktop-1 .group-24 {
  border-radius: 23px;
  background: #d9d9d9;
  position: relative;
  display: flex;
  padding: 13px;
  width: 46px;
  height: 46px;
  box-sizing: border-box;
}
.desktop-1 .group-25 {
  border-radius: 23px;
  background: #d9d9d9;
  position: relative;
  display: flex;
  padding: 13px;
  width: 46px;
  height: 46px;
  box-sizing: border-box;
}
.desktop-1 .group-26 {
  border-radius: 23px;
  background: #d9d9d9;
  position: relative;
  display: flex;
  padding: 13px;
  width: 46px;
  height: 46px;
  box-sizing: border-box;
}
.desktop-1 .group-27 {
  border-radius: 23px;
  background: #d9d9d9;
  position: relative;
  display: flex;
  padding: 13px;
  width: 46px;
  height: 46px;
  box-sizing: border-box;
}
.desktop-1 .our-clients {
  margin: 0 838.9px 71px 0;
  align-self: center;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 48px;
  color: #000000;
}
.our-clients {
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.333;
  color: #f42020;
}
.our-clients-sub3 {
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.333;
  color: #5c0cc5;
}
.desktop-1 .container {
  margin: 0 0 208px 25px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 1857px;
  box-sizing: border-box;
}
.desktop-1 .who-are-we {
  margin: 0 1753px 29px 0;
  align-self: center;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 48px;
  color: rgba(0, 0, 0, 0.8);
}
.who-are-we-sub2 {
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.333;
  color: #f42020;
}
.desktop-1 .top-selling-product {
  margin: 0 233px 140px 233px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 48px;
  color: #000000;
}
.top-selling-product {
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.333;
  color: #f42020;
}
.top-selling-product-sub7 {
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.333;
  color: #520bae;
}
.desktop-1 .component-17 {
  position: relative;
  margin-bottom: 171px;
  display: flex;
  box-sizing: border-box;
}
.desktop-1 .container {
  margin: 2px 0 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 16px;
  color: rgba(255, 252, 252, 0.7);
}
.desktop-1 .infochiptronics-co-in {
  margin: 2.5px 0 3.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 16px;
  color: rgba(255, 252, 252, 0.7);
}
.desktop-1 .group-44 {
  margin-right: 3px;
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.desktop-1 .group-441 {
  margin-right: 7px;
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.desktop-1 .what-our-customer-says {
  margin: 0 277.7px 96px 0;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 64px;
  color: #000000;
}
.what-our-customer-says {
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 64px;
  line-height: 1.333;
}
.what-our-customer-says-sub2 {
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 64px;
  line-height: 1.333;
  color: #520bae;
}
.what-our-customer-says-sub3 {
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 64px;
  line-height: 1.333;
}
.desktop-1 .ellipse-9 {
  mix-blend-mode: color;
  border-radius: 72.5px;
  background: rgba(113, 8, 250, 0.6);
  width: 145px;
  height: 145px;
}
.desktop-1 .group-48 {
  border-radius: 72.5px;
  background: url("../images/image_7.png") 50% / cover no-repeat;
  position: relative;
  margin-top: 23px;
  display: flex;
  width: 145px;
  height: 145px;
  box-sizing: border-box;
}
.desktop-1 .component-18 {
  position: relative;
  margin-bottom: 41px;
  display: flex;
  padding: 0 0 1px 4px;
  box-sizing: border-box;
}
.desktop-1 .component-19 {
  position: relative;
  margin-bottom: 59px;
  display: flex;
  align-self: flex-start;
  padding: 0 0 1px 4px;
  box-sizing: border-box;
}
.desktop-1 .component-20 {
  position: relative;
  align-self: flex-end;
  padding: 0 0 1px 4px;
  box-sizing: border-box;
}
.desktop-1 .component-21 {
  position: relative;
  margin-right: 19.7px;
  display: flex;
  padding: 15px 15.8px 14px 15.8px;
  box-sizing: border-box;
}
.desktop-1 .information {
  margin: 0 1.5px 31px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
}
.desktop-1 .about-us {
  margin: 0 11.8px 14px 11.8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.desktop-1 .more-search {
  margin: 0 12.3px 14px 12.3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.desktop-1 .testimonials {
  margin: 0 11.1px 14px 11.1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.desktop-1 .blog {
  margin: 0 11.8px 14px 11.8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.desktop-1 .events {
  margin: 0 11.8px 14px 11.8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.desktop-1 .helpful-links {
  margin-bottom: 65px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
}
.desktop-1 .component-211 {
  position: absolute;
  left: 103px;
  bottom: 105px;
  display: flex;
  padding: 15px 15.8px 14px 15.8px;
  box-sizing: border-box;
}
.desktop-1 .services {
  margin-bottom: 23px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.desktop-1 .supports {
  margin-bottom: 23px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.desktop-1 .terms-condition {
  margin-bottom: 23px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.desktop-1 .privacy-policy {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.desktop-1 .subscribe-for-more {
  margin-bottom: 50px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
}
.desktop-1 .enter-your-email {
  margin: 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .subscribe {
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .email-2 {
  background: url("../images/email_1.png") 50% / cover no-repeat;
  margin-right: 7px;
  width: 25px;
  height: 25px;
}
.desktop-1 .group-54 {
  border-radius: 4px;
  background: #d9d9d9;
  position: relative;
  margin-bottom: 41px;
  display: flex;
  align-self: flex-start;
  padding: 15px 20px 14px 20px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 {
  background: #ffffff;
  display: flex;
  padding-bottom: 63px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-1 .component-22 {
  border-radius: 4px;
  background: #f61e1e;
  position: relative;
  display: flex;
  padding: 13px 0 13px 2px;
  width: 148px;
  box-sizing: border-box;
}
.desktop-1 .frame-33 {
  display: flex;
  flex-direction: row;
  width: 255px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .rectangle-54 {
  mix-blend-mode: color;
  background: #4c0086;
  position: absolute;
  left: 239px;
  bottom: 0px;
  width: 648px;
  height: 478px;
}
.desktop-1 .rectangle-55 {
  mix-blend-mode: color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #530b8b;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 641px;
  height: 478px;
}
.desktop-1 .rectangle-56 {
  mix-blend-mode: color;
  background: #4c0086;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 641px;
  height: 478px;
}
.desktop-1 .group-79 {
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  position: absolute;
  left: 761px;
  bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 24.5px;
  width: 598px;
  height: 348px;
  box-sizing: border-box;
}
.desktop-1 .group-81 {
  position: relative;
  padding: 93px 0 37px 0;
  box-sizing: border-box;
}
.desktop-1 .group-83 {
  position: relative;
  margin: 0 722px 251px 0;
  align-self: center;
  box-sizing: border-box;
}
.desktop-1 .group-84 {
  position: relative;
  display: flex;
  padding: 93px 0 37px 0;
  width: 1105px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .component-23 {
  position: relative;
  margin: 142px 0 38.2px 0;
  display: flex;
  padding: 86px 0 86.8px 4.3px;
  width: 213.2px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .component-24 {
  position: absolute;
  top: 893px;
  right: 167.1px;
  display: flex;
  padding-left: 10.9px;
  width: 357.9px;
  height: 337px;
  box-sizing: border-box;
}
.desktop-1 .component-25 {
  position: absolute;
  top: 1078px;
  right: 382px;
  display: flex;
  padding-left: 17.6px;
  width: 293px;
  height: 275.9px;
  box-sizing: border-box;
}
.desktop-1 .component-26 {
  position: absolute;
  top: 908px;
  right: 531.1px;
  display: flex;
  padding-left: 2.3px;
  width: 357.9px;
  height: 337px;
  box-sizing: border-box;
}
.desktop-1 .component-27 {
  position: absolute;
  top: 786px;
  right: 383px;
  display: flex;
  padding-right: 40px;
  width: 293px;
  height: 275.9px;
  box-sizing: border-box;
}
.desktop-1 .component-212 {
  position: relative;
  margin: 389px 0 37px 0;
  display: flex;
  padding: 15px 15.8px 14px 15.8px;
  box-sizing: border-box;
}
.desktop-1 .group-91 {
  position: relative;
  margin-right: 18px;
  display: flex;
  width: 1105px;
  box-sizing: border-box;
}
.desktop-1
  .karishma-singh-2024-desi-discoveries-all-rights-reserved-designed-and-developed-by-picky-vibe-llp-like-this {
  margin-left: 3px;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.desktop-1
  .timeoffice-softech-pvt-ltd-b-205-anannya-complex-near-akshar-chowk-oproad-vadodara-390020-contact-us-on-08069010000-email-infochiptronics-co-in {
  margin-left: 8.8px;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}
.desktop-1 .image-1 {
  border-radius: 111px;
  background: url("../images/image_14.png") 50% / cover no-repeat;
  width: 222px;
  height: 222px;
}
.desktop-1 .why-us {
  margin: 0 0 181px 476.8px;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 48px;
  color: #000000;
}
.why-us {
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.333;
  color: #f62929;
}
.desktop-1 .biometric-attendance-solution-your-timekeeping-partner {
  margin: 0 244.2px 105px 244.2px;
  display: inline-block;
  align-self: flex-start;
  text-align: center;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 64px;
  color: #ffffff;
}
.desktop-1 .container-1 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .your-attendance-solution {
  margin: 0 0 22px 3.2px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
}
.desktop-1 .your-timekeeping-partner {
  margin-right: 12.8px;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 32px;
  color: #ffffff;
}
.desktop-1 .image-2 {
  border-radius: 147px;
  background: url("../images/image_14.png") 50% / cover no-repeat;
  width: 294px;
  height: 294px;
}
.desktop-1 .property-1-default {
  display: flex;
  width: 294px;
  height: 294px;
  box-sizing: border-box;
}
.desktop-1 .property-1-default-1 {
  margin-bottom: 108px;
  display: flex;
  align-self: flex-start;
  width: 222px;
  height: 222px;
  box-sizing: border-box;
}
.desktop-1 .image-3 {
  border-radius: 5px;
  border: 1px dashed #9747ff;
  margin: 178px 0 343px 0;
  display: flex;
  flex-direction: column;
  padding: 19px;
  width: 334px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .group-103 {
  position: relative;
  margin: 0 155px;
  display: flex;
  align-self: flex-start;
  padding-right: 5px;
  box-sizing: border-box;
}
.desktop-1 .group-104 {
  box-shadow: 0px 1px 5px 2px rgba(82, 11, 174, 0.25);
  background: #ffffff;
  position: relative;
  margin: 0 155px 184px 155px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-start;
  padding: 50px 99px 46px 110px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .frame-36 {
  position: absolute;
  top: 0px;
  right: 479.9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  box-sizing: border-box;
}
.desktop-1 .group-132 {
  margin: 74.7px 143.8px 109.1px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .latest {
  background: url("../images/untitled_11.png") 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 134px;
  right: 0px;
  height: 468px;
}
.desktop-1 .frame-37 {
  margin: 18px 18.1px 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 844px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-2 {
  position: relative;
  margin: 24px 0 23px 0;
  display: flex;
  padding-right: 0.1px;
  box-sizing: border-box;
}
.desktop-1 .container-3 {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.desktop-1 .container-4 {
  margin-bottom: 29px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-5 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1
  .we-provide-innovative-attendance-and-access-control-systems-door-locks-and-controllers-barcode-scanners-and-various-accessories-to-enhance-security-and-streamline-operations-our-solutions-cater-to-businesses-looking-for-reliable-and-advanced-technologies-in-biometric-identification-door-security-barcode-scanning-and-access-control-management {
  margin-bottom: 5px;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1
  .attendance-and-access-control-systems-door-locks-and-controllers-barcode-scanners-accessories-switches-for-access-control-readers {
  margin: 0 11.2px 48px 0;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .image-4 {
  box-shadow: 3px 7px 4px 0px rgba(0, 0, 0, 0.5);
  background: url("../images/image_13.png") 50% / cover no-repeat;
  margin-right: 159.3px;
  width: 641px;
  height: 478px;
}
.desktop-1
  .benefit-the-integration-of-dynamic-face-recognition-fingerprint-recognition-and-multi-door-controllers-ensures-that-only-authorized-personnel-gain-access-providing-ahigher-level-of-security-for-your-premises {
  text-align: justify;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .improved-security {
  margin: 0 130.4px 21px 0;
  align-self: center;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 36px;
  color: rgba(0, 0, 0, 0.8);
}
.improved-security {
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.333;
  color: #f62929;
}
.desktop-1 .image-5 {
  box-shadow: 3px 7px 4px 0px rgba(0, 0, 0, 0.5);
  background: url("../images/image_1.png") 50% / cover no-repeat;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 641px;
  height: 478px;
}
.desktop-1
  .benefit-wireless-handheld-barcode-scanners-and-face-recognition-systems-streamline-operations-by-automating-attendance-tracking-and-access-control-reducing-manual-errors-and-improving-operational-efficiency {
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .enhanced-efficiency {
  margin-bottom: 20px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}
.enhanced-efficiency {
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.333;
  color: #f42020;
}
.desktop-1 .rinch {
  box-shadow: 3px 7px 4px 0px rgba(0, 0, 0, 0.5);
  background: url("../images/rinch.jpeg") 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 641px;
  height: 478px;
}
.desktop-1
  .benefit-the-comprehensive-range-of-accessories-such-as-locks-proximity-cards-and-uhf-readers-allow-for-seamless-integration-into-existing-systems-enhancing-functionality-and-offering-versatile-deployment-options {
  text-align: justify;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .seamless-integration {
  margin: 0 89.3px 26px 0;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.8);
}
.seamless-integration-sub1 {
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 32px;
  line-height: 1.333;
  color: #f42020;
}
.desktop-1 .home {
  display: flex;
  box-sizing: border-box;
}
.desktop-1 .products {
  display: flex;
  box-sizing: border-box;
}
.desktop-1 .download {
  display: flex;
  box-sizing: border-box;
}
.desktop-1 .about-us-1 {
  display: flex;
  box-sizing: border-box;
}
.desktop-1 .contact-us {
  display: flex;
  box-sizing: border-box;
}
.desktop-1 .career {
  display: flex;
  box-sizing: border-box;
}
.desktop-1 .component-9 {
  border-radius: 4px;
  background: #4d0186;
  position: relative;
  margin-right: 15px;
  display: flex;
  padding: 13px 0.4px 13px 0;
  width: 92px;
  box-sizing: border-box;
}
.desktop-1 .pricing {
  display: flex;
  box-sizing: border-box;
}
.desktop-1 .container-6 {
  border-radius: 4px;
  background: #d9d9d9;
  position: absolute;
  left: 50%;
  top: 98px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  padding: 12px 7.7px 11px 8px;
  box-sizing: border-box;
}
.desktop-1 .container-7 {
  margin: 0 238px 189px 238px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1266.2px;
  box-sizing: border-box;
}
.desktop-1 .container-8 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .container-9 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .container-10 {
  margin-right: 77.8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .container-11 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.desktop-1 .component-11 {
  position: relative;
  margin: 68px 169px 4px 0;
  display: flex;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .image-7 {
  background: url("../images/image_7.png") 50% / cover no-repeat;
  margin: 42px 46px 42px 0;
  width: 276px;
  height: 111px;
}
.desktop-1 .image-8 {
  background: url("../images/image_8.png") 50% / cover no-repeat;
  width: 219px;
  height: 195px;
}
.desktop-1 .container-12 {
  border: 1px solid rgba(95, 91, 91, 0.2);
  background: #ffffff;
  position: relative;
  padding: 16px 6px 21px 6px;
  box-sizing: border-box;
}
.desktop-1 .container-13 {
  margin-bottom: 109.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1505.2px;
  box-sizing: border-box;
}
.desktop-1 .container-14 {
  margin: 33px 197.4px 115px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .container-15 {
  background: #06000d;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 46px 112px 17px 86px;
  box-sizing: border-box;
}
.desktop-1 .container-16 {
  border: 1px solid rgba(95, 91, 91, 0.2);
  background: #ffffff;
  position: relative;
  display: flex;
  padding: 16px 39.1px 21px 9px;
  box-sizing: border-box;
}
.desktop-1 .container-17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .container-18 {
  margin: 1.7px 32.8px 163.3px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .container-19 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .container-20 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .container-21 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1147px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-22 {
  margin: 1.1px 49.8px 117.9px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .container-23 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 2604px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-24 {
  margin: 2.2px 36.8px 139.7px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .container-25 {
  margin: 0 3px 8px 3px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-26 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .container-27 {
  margin: 0 10.6px 0 3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-28 {
  margin-bottom: 28px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-29 {
  margin: 0 499.6px 595.1px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-30 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .container-31 {
  margin-bottom: 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1130px;
  box-sizing: border-box;
}
.desktop-1 .container-32 {
  border: 1px solid #585656;
  background: #ffffff;
  position: relative;
  display: flex;
  padding: 21px 44.1px 21px 6px;
  box-sizing: border-box;
}
.desktop-1 .container-33 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .container-34 {
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 86px 0 85px 52px;
  box-sizing: border-box;
}
.desktop-1 .container-35 {
  margin: 33px 88.7px 3px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .container-36 {
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 57px 0 113px 0;
  width: 598px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-37 {
  margin: 0 242px 222px 242px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-38 {
  margin-bottom: 480.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 2277.1px;
  box-sizing: border-box;
}
.desktop-1 .container-39 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .container-40 {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  position: relative;
  margin: 0 155px 41px 155px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 70px 69px 1px 77px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-1 .container-41 {
  position: absolute;
  right: -468.9px;
  bottom: -1882.2px;
  display: flex;
  padding-top: 53.3px;
  width: 2277.1px;
  height: 2347.2px;
  box-sizing: border-box;
}
.desktop-1 .container-42 {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .image-19 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url("../images/image_19.png") 50% / cover no-repeat;
  margin-bottom: 26px;
  width: 250px;
  height: 250px;
}
.desktop-1 .image-20 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url("../images/image_20.png") 50% / cover no-repeat;
  margin-bottom: 26px;
  width: 250px;
  height: 250px;
}
.desktop-1 .image-21 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url("../images/image_21.png") 50% / cover no-repeat;
  margin-bottom: 26px;
  width: 267.1px;
  height: 250px;
}
.desktop-1 .image-22 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url("../images/image_22.png") 50% / cover no-repeat;
  margin-bottom: 26px;
  width: 349.2px;
  height: 250px;
}
.desktop-1 .image-23 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url("../images/image_23.png") 50% / cover no-repeat;
  margin-bottom: 26px;
  width: 250px;
  height: 250px;
}
.desktop-1 .image-24 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url("../images/image_24.png") 50% / cover no-repeat;
  margin-bottom: 26px;
  width: 267.1px;
  height: 250px;
}
.desktop-1 .door-locks-brackets {
  margin: 0 15px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .access-control-system {
  margin: 0 19px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .biometric-access-controll {
  margin: 0 12px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .barcode-scanner {
  margin-right: 85.5px;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .computerized-time-attendance-device {
  margin-right: 37.4px;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .door-controller-system {
  margin-right: 50.7px;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .group-32 {
  position: absolute;
  left: -323.7px;
  bottom: -23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 267.1px;
  height: 299px;
  box-sizing: border-box;
}
.desktop-1 .group-33 {
  position: absolute;
  left: -629.7px;
  bottom: -69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 322px;
  box-sizing: border-box;
}
.desktop-1 .group-34 {
  position: absolute;
  left: -1034.9px;
  bottom: -23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 349.2px;
  height: 299px;
  box-sizing: border-box;
}
.desktop-1 .group-35 {
  position: absolute;
  left: -1358px;
  bottom: -23px;
  display: flex;
  flex-direction: column;
  width: 267.1px;
  height: 299px;
  box-sizing: border-box;
}
.desktop-1 .group-36 {
  position: absolute;
  left: -1664px;
  bottom: -23px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 299px;
  box-sizing: border-box;
}
.desktop-1 .group-37 {
  position: absolute;
  left: -1970px;
  bottom: -23px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 299px;
  box-sizing: border-box;
}
.desktop-1 .group-38 {
  margin-right: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .image-191 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url("../images/image_19.png") 50% / cover no-repeat;
  margin-bottom: 26px;
  width: 250px;
  height: 250px;
}
.desktop-1 .door-locks-brackets-1 {
  margin: 0 4.2px 0 15px;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .group-39 {
  margin-right: 54.6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .image-201 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url("../images/image_20.png") 50% / cover no-repeat;
  margin: 0 1.4px 26px 0;
  width: 250px;
  height: 250px;
}
.desktop-1 .access-control-system-1 {
  margin-left: 19px;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .group-40 {
  margin-right: 46.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .image-211 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url("../images/image_21.png") 50% / cover no-repeat;
  margin: 0 9.2px 26px 0;
  width: 267.1px;
  height: 250px;
}
.desktop-1 .biometric-access-controll-1 {
  margin-left: 12px;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .group-41 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 349.2px;
  box-sizing: border-box;
}
.desktop-1 .image-221 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url("../images/image_22.png") 50% / cover no-repeat;
  margin-bottom: 26px;
  width: 349.2px;
  height: 250px;
}
.desktop-1 .barcode-scanner-1 {
  margin-left: 3.1px;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .group-42 {
  position: absolute;
  right: -306px;
  bottom: -69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 322px;
  box-sizing: border-box;
}
.desktop-1 .image-231 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url("../images/image_23.png") 50% / cover no-repeat;
  margin-bottom: 26px;
  width: 250px;
  height: 250px;
}
.desktop-1 .computerized-time-attendance-device-1 {
  margin-right: 37.4px;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .group-43 {
  position: absolute;
  right: -629.1px;
  bottom: -23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 267.1px;
  height: 299px;
  box-sizing: border-box;
}
.desktop-1 .image-241 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url("../images/image_24.png") 50% / cover no-repeat;
  margin-bottom: 26px;
  width: 267.1px;
  height: 250px;
}
.desktop-1 .door-controller-system-1 {
  margin-right: 50.7px;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .rectangle-35 {
  background: #666262;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 10px;
  height: 126px;
}
.desktop-1 .image-6 {
  border-radius: 38px;
  background: url("../images/image_8.png") 50% / cover no-repeat;
  margin: 9px 32px 4px 0;
  width: 76px;
  height: 76px;
}
.desktop-1 .rupali {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
}
.desktop-1
  .super-reliable-and-user-friendly-the-facial-recognition-is-quick-and-accurate-making-attendance-tracking-effortless {
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .group-47 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .star-11 {
  background: url("../images/star_14.png") 50% / cover no-repeat;
  position: absolute;
  left: 191px;
  top: 14px;
  width: 25px;
  height: 25px;
}
.desktop-1 .star-12 {
  background: url("../images/star_14.png") 50% / cover no-repeat;
  position: absolute;
  top: 14px;
  right: 213px;
  width: 25px;
  height: 25px;
}
.desktop-1 .star-13 {
  background: url("../images/star_14.png") 50% / cover no-repeat;
  position: absolute;
  top: 14px;
  right: 183px;
  width: 25px;
  height: 25px;
}
.desktop-1 .star-14 {
  background: url("../images/star_14.png") 50% / cover no-repeat;
  position: absolute;
  top: 14px;
  right: 153px;
  width: 25px;
  height: 25px;
}
.desktop-1 .rectangle-37 {
  background: #f62929;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 10px;
  height: 126px;
}
.desktop-1 .image-7 {
  border-radius: 38px;
  background: url("../images/image_5.png") 50% / cover no-repeat;
  margin: 4px 30px 4px 0;
  width: 76px;
  height: 76px;
}
.desktop-1 .arya-patel {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
}
.desktop-1
  .super-reliable-and-user-friendly-the-facial-recognition-is-quick-and-accurate-making-attendance-tracking-effortless-1 {
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .group-46 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .star-111 {
  background: url("../images/star_14.png") 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 19px;
  translate: -50% 0;
  width: 25px;
  height: 25px;
}
.desktop-1 .star-121 {
  background: url("../images/star_14.png") 50% / cover no-repeat;
  position: absolute;
  top: 19px;
  right: 185px;
  width: 25px;
  height: 25px;
}
.desktop-1 .star-131 {
  background: url("../images/star_14.png") 50% / cover no-repeat;
  position: absolute;
  top: 19px;
  right: 155px;
  width: 25px;
  height: 25px;
}
.desktop-1 .star-141 {
  background: url("../images/star_14.png") 50% / cover no-repeat;
  position: absolute;
  top: 19px;
  right: 125px;
  width: 25px;
  height: 25px;
}
.desktop-1 .rectangle-39 {
  background: #666262;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 10px;
  height: 126px;
}
.desktop-1 .image-8 {
  border-radius: 38px;
  background: url("../images/image_10.png") 50% / cover no-repeat;
  margin: 9px 10px 4px 0;
  width: 76px;
  height: 76px;
}
.desktop-1 .aryan-deshmukh {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
}
.desktop-1
  .super-reliable-and-user-friendly-the-facial-recognition-is-quick-and-accurate-making-attendance-tracking-effortless-2 {
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.desktop-1 .group-45 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .star-112 {
  background: url("../images/star_14.png") 50% / cover no-repeat;
  position: absolute;
  top: 13px;
  right: 159px;
  width: 25px;
  height: 25px;
}
.desktop-1 .star-122 {
  background: url("../images/star_14.png") 50% / cover no-repeat;
  position: absolute;
  top: 13px;
  right: 129px;
  width: 25px;
  height: 25px;
}
.desktop-1 .star-132 {
  background: url("../images/star_14.png") 50% / cover no-repeat;
  position: absolute;
  top: 13px;
  right: 99px;
  width: 25px;
  height: 25px;
}
.desktop-1 .star-142 {
  background: url("../images/star_14.png") 50% / cover no-repeat;
  position: absolute;
  top: 13px;
  right: 69px;
  width: 25px;
  height: 25px;
}
.desktop-1 .rectangle-4 {
  filter: blur(0.5px);
  border-radius: 4px;
  border: 2px solid #ec1111;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 155px;
  height: 52px;
}
.desktop-1 .learn-more {
  position: relative;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 20px;
  color: #ec1111;
}
.desktop-1 .rectangle-41 {
  filter: blur(0.5px);
  border-radius: 4px;
  border: 2px solid #ec1111;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 155px;
  height: 52px;
}
.desktop-1 .learn-more-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 20px;
  color: #ec1111;
}
.desktop-1 .call-now {
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .group-88 {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 213.2px;
  height: 200.8px;
}
.desktop-1 .reliable {
  position: relative;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 24px;
  color: #fd1b1b;
}
.desktop-1 .group-89 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.desktop-1 .transparent {
  position: relative;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 36px;
  color: #f42020;
}
.desktop-1 .group-87 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.desktop-1 .time-saver {
  position: relative;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 32px;
  color: #f62929;
}
.desktop-1 .group-86 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.desktop-1 .pocket-friendly {
  position: relative;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 800;
  font-size: 36px;
  color: #f62929;
}
.pocket-friendly {
  font-family: "Roboto Serif";
  font-weight: 800;
  font-size: 36px;
  line-height: 1.333;
}
.pocket-friendly-sub3 {
  font-family: "Roboto Serif";
  font-weight: 800;
  font-size: 36px;
  line-height: 1.333;
  color: #fb0e0e;
}
.desktop-1 .group-85 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.desktop-1 .user-friendly {
  position: relative;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 32px;
  color: #ec1111;
}
.desktop-1 .rectangle-42 {
  filter: blur(0.5px);
  border-radius: 4px;
  border: 2px solid #ec1111;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 155px;
  height: 52px;
}
.desktop-1 .learn-more-2 {
  position: relative;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 20px;
  color: #ec1111;
}
.desktop-1 .team-office-qr-code-reader {
  margin-bottom: 22px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
}
.desktop-1 .strong-responsibility {
  margin: 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .high-speed-reading {
  margin: 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .supports-dc-516-v {
  margin: 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .mask-group-2 {
  width: 25px;
  height: 25px;
}
.desktop-1 .group-105 {
  margin-right: 25px;
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.desktop-1 .group-106 {
  margin-right: 25px;
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.desktop-1 .mask-group-3 {
  width: 25px;
  height: 25px;
}
.desktop-1 .group-107 {
  margin-right: 25px;
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.desktop-1 .mask-group-4 {
  width: 25px;
  height: 25px;
}
.desktop-1 .ai-based-visible-light-face-recognition {
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
}
.desktop-1 .high-speed-and-multi-face {
  margin: 0 0.2px 0 2.5px;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .long-range-face-recognition {
  margin: 0 1.2px 0 1.5px;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .dface-recognition {
  margin: 0 4.1px 0 4.5px;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .group-108 {
  margin-bottom: 28.8px;
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.desktop-1 .mask-group-5 {
  width: 25px;
  height: 25px;
}
.desktop-1 .group-109 {
  margin-bottom: 28.8px;
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.desktop-1 .mask-group-6 {
  width: 25px;
  height: 25px;
}
.desktop-1 .group-110 {
  margin-bottom: 28.8px;
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.desktop-1 .mask-group-7 {
  width: 25px;
  height: 25px;
}
.desktop-1 .group-111 {
  margin: 0 17.3px 291.3px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .attendance-solution {
  transform: rotate(-179.966deg);
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
}
.desktop-1 .camera-display-sensor {
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .authentication-method {
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .fingerprint-card-password-and-combinations {
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .day-and-night {
  margin: 0 23px 0.1px 0;
  display: inline-block;
  width: 121px;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .working-mode {
  margin-top: 0.1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .voice-indication {
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .group-113 {
  transform: rotate(-179.966deg);
  margin: 0 3.7px 44px 3.7px;
  display: flex;
  box-sizing: border-box;
}
.desktop-1 .group-114 {
  transform: rotate(-179.966deg);
  margin: 0 3px 23px 9.1px;
  display: flex;
  box-sizing: border-box;
}
.desktop-1 .group-115 {
  transform: rotate(-179.966deg);
  position: absolute;
  top: 107px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 252px;
  box-sizing: border-box;
}
.desktop-1 .group-116 {
  transform: rotate(-179.966deg);
  margin: 0 5px 71.9px 5px;
  display: flex;
  box-sizing: border-box;
}
.desktop-1 .group-118 {
  transform: rotate(-179.966deg);
  margin-bottom: 31px;
  display: flex;
  box-sizing: border-box;
}
.desktop-1 .group-120 {
  transform: rotate(89.479deg);
  margin-top: 4.7px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .dtexta {
  transform: rotate(-89.931deg);
  position: relative;
  margin-bottom: 103.6px;
  display: flex;
  padding-right: 0.2px;
  box-sizing: border-box;
}
.desktop-1 .back-office-in-india {
  margin: 139.9px 28.3px 3.2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .back-office-in-canada {
  margin-top: 120.1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .back-office-in-usa {
  margin: 139.9px 30.3px 26.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .cloud-server {
  margin: 198px 26.1px 60.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .field-staff {
  margin: 217.8px 35.7px 40.2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .group-74 {
  position: absolute;
  left: 103px;
  bottom: 49.2px;
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.desktop-1 .mask-group-8 {
  width: 30px;
  height: 30px;
}
.desktop-1 .group-75 {
  position: absolute;
  left: 50%;
  bottom: 49.2px;
  translate: -50% 0;
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.desktop-1 .mask-group-9 {
  width: 30px;
  height: 30px;
}
.desktop-1 .group-76 {
  position: absolute;
  right: 100px;
  bottom: 49.1px;
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.desktop-1 .mask-group-10 {
  width: 30px;
  height: 30px;
}
.desktop-1 .group-77 {
  position: absolute;
  right: 50px;
  bottom: 49px;
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.desktop-1 .mask-group-11 {
  width: 30px;
  height: 30px;
}
.desktop-1 .group-78 {
  position: absolute;
  right: 0px;
  bottom: 49px;
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.desktop-1 .mask-group-12 {
  width: 30px;
  height: 30px;
}
.desktop-1 .cloud-based-attendance-solution {
  margin: 0 42.1px 12.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
}
.desktop-1 .group-121 {
  position: relative;
  margin-right: 63.7px;
  display: flex;
  padding-right: 4.6px;
  box-sizing: border-box;
}
.desktop-1 .group-131 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2282.2px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .group-65 {
  transform: rotate(89.321deg);
  position: relative;
  margin-left: 2.2px;
  display: flex;
  padding-right: 23.9px;
  width: 337.1px;
  height: 308.5px;
  box-sizing: border-box;
}
.desktop-1 .removebg-preview-1 {
  background: url("../images/removebg_preview_11.png");
  transform: rotate(89.856deg);
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 307.8px;
  height: 294.2px;
}
.desktop-1 .computerized-attendance {
  transform: rotate(89.856deg);
  position: relative;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 20px;
  color: #fd1b1b;
}
.desktop-1 .group-99 {
  transform: rotate(-90.444deg);
  margin-bottom: 101.3px;
  width: 413px;
  box-sizing: border-box;
}
.desktop-1 .group-66 {
  transform: rotate(179.766deg);
  position: relative;
  display: flex;
  padding: 116.5px 0 37.7px 0;
  box-sizing: border-box;
}
.desktop-1 .removebg-preview-11 {
  background: url("../images/removebg_preview_1.png");
  transform: rotate(-178.165deg);
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 400px;
  height: 360.2px;
}
.desktop-1 .door-controller-system-2 {
  transform: rotate(-178.165deg);
  position: relative;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 20px;
  color: #f42020;
}
.desktop-1 .group-72 {
  transform: rotate(88.905deg);
  position: relative;
  margin-top: 97.5px;
  padding-top: 20px;
  width: 183.4px;
  box-sizing: border-box;
}
.desktop-1 .biometric-access-control-system {
  position: relative;
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 20px;
  color: #f11717;
}
.desktop-1 .removebg-preview-11 {
  background: url("../images/removebg_preview_11.png");
  position: absolute;
  top: 0px;
  right: 0px;
  width: 165px;
  height: 388px;
}
.desktop-1 .agroup {
  position: relative;
  display: flex;
  padding: 346.8px 13.9px 0 0;
  width: 338.9px;
  box-sizing: border-box;
}
.desktop-1 .save-removebg-preview-1 {
  background: url("../images/save_removebg_preview_1.png");
  transform: rotate(89.089deg);
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 350px;
  height: 333.3px;
}
.desktop-1 .group-67 {
  transform: rotate(88.469deg);
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.desktop-1 .access-control-accessories {
  transform: rotate(-88.808deg);
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 20px;
  color: #f41818;
}
.desktop-1 .home-1 {
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
.desktop-1 .products-1 {
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
.desktop-1 .download-1 {
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
.desktop-1 .about-us-2 {
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
.desktop-1 .contact-us-1 {
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
.desktop-1 .career-1 {
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
.desktop-1 .login {
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.desktop-1 .pricing-1 {
  overflow-wrap: break-word;
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
.desktop-1 .image-71 {
  background: url("../images/image_71.png") 50% / cover no-repeat;
  position: absolute;
  left: -1682px;
  bottom: -5px;
  width: 132px;
  height: 133px;
}
.desktop-1 .image-81 {
  background: url("../images/image_81.png") 50% / cover no-repeat;
  position: absolute;
  left: -1450px;
  bottom: 12px;
  width: 78px;
  height: 99px;
}
.desktop-1 .image-9 {
  background: url("../images/image_9.png") 50% / cover no-repeat;
  position: absolute;
  left: -1274px;
  bottom: 0px;
  width: 101px;
  height: 123px;
}
.desktop-1 .image-10 {
  background: url("../images/image_10.png") 50% / cover no-repeat;
  position: absolute;
  left: -1090px;
  bottom: 0px;
  width: 100px;
  height: 123px;
}
.desktop-1 .image-11 {
  background: url("../images/image_11.png") 50% / cover no-repeat;
  position: absolute;
  left: -890px;
  bottom: 12px;
  width: 189px;
  height: 99px;
}
.desktop-1 .image-12 {
  background: url("../images/image_12.png") 50% / cover no-repeat;
  position: absolute;
  left: -594px;
  bottom: 12px;
  width: 291px;
  height: 99px;
}
.desktop-1 .image-1 {
  background: url("../images/image_71.png") 50% / cover no-repeat;
  position: absolute;
  left: -232px;
  bottom: -5px;
  width: 132px;
  height: 133px;
}
.desktop-1 .image-2 {
  background: url("../images/image_81.png") 50% / cover no-repeat;
  margin: 12px 98px 12px 0;
  width: 78px;
  height: 99px;
}
.desktop-1 .image-3 {
  background: url("../images/image_9.png") 50% / cover no-repeat;
  margin-right: 83px;
  width: 101px;
  height: 123px;
}
.desktop-1 .image-4 {
  background: url("../images/image_10.png") 50% / cover no-repeat;
  margin-right: 100px;
  width: 100px;
  height: 123px;
}
.desktop-1 .image-5 {
  background: url("../images/image_11.png") 50% / cover no-repeat;
  margin: 12px 107px 12px 0;
  width: 189px;
  height: 99px;
}
.desktop-1 .image-6 {
  background: url("../images/image_12.png") 50% / cover no-repeat;
  margin: 12px 0;
  width: 291px;
  height: 99px;
}
.desktop-1 .container-43 {
  position: relative;
  margin-bottom: 197px;
  display: flex;
  box-sizing: border-box;
}
.desktop-1 .container-44 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .container-45 {
  position: relative;
  margin-right: 985.7px;
  display: flex;
  box-sizing: border-box;
}
